<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">

</head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <a class="navbar-brand" href="#">Welcome</a>
                    <a class="navbar-brand" href="#"><%= nm %></a>
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownId" style="margin-left:-70px;">
                                    <a class="dropdown-item" href="/users/changepwd">Change Password</a>
                                    <a class="dropdown-item" href="/users/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 bg-info" style="height:500px;overflow:auto;">
                <ul class="list-group">
                    <li class="list-group-item active">Student</li>
                    <li class="list-group-item"><a href="/users/add_student">Add Student</a></li>
                    <li class="list-group-item"><a href="/users/profile">All Student</a></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">Course</li>
                    <li class="list-group-item"><a href="/users/add_course">Add Course</a></li>
                    <li class="list-group-item"><a href="/users/all_course">All Course</a></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">Video</li>
                    <li class="list-group-item"><a href="/users/add_video">Add Video</a></li>
                    <li class="list-group-item"><a href="/users/all_video">All Video</a></li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">Order</li>
                    <li class="list-group-item"><a href="/users/add_order">Add Order</a></li>
                    <li class="list-group-item"><a href="/users/all_order">All Order</a></li>
                </ul>
            </div>
            <div class="col-lg-9 pt-3" style="height:500px;">

                <form action="/users/store_student" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name"  autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email"  autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="number" class="form-control" name="phone"  autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password"  autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <input type="radio" class="" name="gender" value="M" autocomplete="off">M
                        <input type="radio" class="" name="gender" value="F" autocomplete="off">F
                    </div>
                    <div class="form-group">
                        <label>Nationality:</label>
                        
                          <select class="form-control" name="nationality" id="">
                            <option selected  disabled>--select your country--</option>
                            <option value="IND">India</option>
                            <option value="SRI">Srilanka</option>
                            <option value="BAN">Bangladesh</option>
                            <option value="BHU">Bhutan</option>
                          </select>
                        
                    </div>
                    <div class="form-group">
                        <label>Upload image:</label>
                        <input type="file" class="form-control" name="image"  autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Add"/>
                    </div>
                </form>

            </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>  
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        $(document).ready(function(){
          $("#myBtn").click(function(){
            $('.toast').toast('show');
          });
        });
    </script>
</body>
</html>