<img id="dp" src="../../images/test.jpg" alt="img" style="height:100px;">
    <form action="/users/upload_1" method="POST" enctype="multipart/form-data">
        <input id="file_input" type="file" name="image" onchange="form.submit();">
    </form>
    <p><%= msg %></p>